<html>
<title>
<head> Hello
</head>
</title>
<body bgcolor ="#00FFFF">
   <center>Do you want enter?
   <form action='/report' method='get'>
   <input type='submit' value='Enter'>
   </form>
   <form action='/' method='get'>
   <input type='submit' value='Exit'>
   </form>
   </center>
</body>
</html>
