<html>
<title>
<head> Hello
</head>
</title>
<body bgcolor ="#00FFFF">
   <center>You are not loged in!!! Try again
   <form action='/' method='get'>
   <input type='submit' value='Try again'>
   </form></center>
</body>
</html>
