<html>
<title>
<head> Hello
</head>
</title>
<body bgcolor ="#00FFFF">
      <center>Your data is saved!!! <p>
      <form action='/report' method='get'>
      <input type='submit' value='Enter'>
      </form>
      <form action='/tasktime' method='get'>
      <input type='submit' value='Return'>
      </form>
      </center>
</body>
</html>
