<html>
<title>
<head> Hello
</head>
</title>
<body bgcolor ="#00FFFF">
    <center>
    <h2>Hello</h2>
    <p>
    <form action='/first_registration' method='post'>
    <input type='text' name='first_login' value='Junior'>
    <p>
    <input type='password' name='first_password' value='pass!@#'>
    <p>
    <input type='submit' value='Ok'>
    </form>    
</center>
</body>
</html>
