<html>
<title>
<head> Add the new project
</head>
</title>
<body bgcolor ="#00FFFF">
<center>
  <h2>Add the new project</h2>
    <p>
    <form action='/projects' method='post'>
    <input type='text' name='name_project' value='Paste a name...'>
    <p>
    <input type='text' name='description' value='Paste a description...'>
    <p>
    <input type='text' name='model' value='Paste a model...'>
    <p>
    <input type='text' name='platform' value='Paste a platform...'>
    <p>
    <input type='submit' value='Save'>
    </form>    
    <form action='/report' method='get'>
      <input type='submit' value='Return'>
    </form>
   </center>
</body>
</html>
