<html>
<title>
<head> Registration Page
</head>
</title>
<body bgcolor ="#00FFFF">
<center>
  <h2>Registration Page</h2>
    <p>
    <form action='/users' method='post'>
    <input type='text' name='login' value='Paste a login...'>
    <p>
    <input type='password' name='password_1' value='Paste a password try...'>
    <p>
    <input type='password' name='password_2' value='Try again a password...'>
    <p>
    <input type='text' name='user_name' value='Paste a name...'>
    <p>
    <input type='text' name='position' value='Paste a position...'>
    <p>
    <input type='text' name='email' value='Paste a Email...'>
    <p>
    <input type='submit' value='Save'>
    </form>    
    <form action='/' method='get'>
      <input type='submit' value='Return'>
    </form>
</center>
</body>
</html>
